site_name: FGA Preview - Fate/Grand Automata Fork
site_url: https://arthurkun21.github.io/FGA-Preview-Build/
site_description: FGA Preview is an enhanced fork of Fate/Grand Automata (FGA) for Android. Features auto-leveling skills, CE, servants, append skills, NP detection, and automated farming scripts for FGO.
site_author: ArthurKun21
repo_name: FGA Preview
repo_url: https://github.com/ArthurKun21/fga-preview-build
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2024 - 2025 ArthurKun21
use_directory_urls: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ArthurKun21/fga-preview-build
      name: FGA Preview on GitHub
    - icon: fontawesome/solid/mug-hot
      link: https://ko-fi.com/arthurkun21
      name: Support on Ko-fi
  generator: false
  # Uncomment and configure Google Analytics when ready:
  # analytics:
  #   provider: google
  #   property: G-XXXXXXXXXX
  #   feedback:
  #     title: Was this page helpful?
  #     ratings:
  #       - icon: material/emoticon-happy-outline
  #         name: This page was helpful
  #         data: 1
  #         note: Thanks for your feedback!
  #       - icon: material/emoticon-sad-outline
  #         name: This page could be improved
  #         data: 0
  #         note: Thanks for your feedback!

theme:
  name: material
  logo: assets/icon.png
  favicon: assets/icon.ico
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - navigation.sections
    - navigation.expand
    - toc.follow
    - search.suggest
    - search.share
    - search.highlight
    - content.action.edit
    - content.action.view
    - content.code.copy
  language: en
  custom_dir: docs/overrides

plugins:
  - search:
      lang: en
      separator: '[\s\-\.]+'
  - awesome-nav
  - tags
  - git-revision-date-localized:
      type: date
      enable_creation_date: true
      fallback_to_build_date: true
  - social:
      cards_layout_options:
        background_color: "#c62828"
  - meta
  - minify:
      minify_html: true

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - def_list
  - toc:
      permalink: true
      title: On this page
      toc_depth: 3
  - footnotes
  - tables
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.betterem
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: false
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.mark
  - pymdownx.keys
