name: Dry Run

on:
  # Everyday at 00:00 UTC
  schedule:
    - cron: '0 0 * * *'
  # Manual triggers
  workflow_dispatch:
    inputs:
      upload_apk:
        description: 'Upload APK to GitHub Actions'
        required: false
        default: 'false'

env:
  JAVA_VERSION: 17
  JAVA_DISTRO: 'temurin'

jobs:
  build-app:
    runs-on: macos-latest
    permissions:
      contents: write
      discussions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          repository: 'ArthurKun21/FGA-Preview'
          token: ${{ secrets.PAT }}

      - name: Prepare build
        run: |
          commit_count=$(git rev-list --count HEAD)
          echo "COMMIT_COUNT=$commit_count" >> $GITHUB_ENV
          current_sha=$(git rev-parse --short HEAD)
          echo "CURRENT_SHA=$current_sha" >> $GITHUB_ENV
          
          echo "FGA_VERSION_CODE=$commit_count" >>${GITHUB_ENV}
          echo "FGA_VERSION_NAME=$current_sha" >>${GITHUB_ENV}

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
      
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
  
      - name: Set up gradle
        uses: gradle/actions/setup-gradle@v5
    
      - name: Build Android Package
        run: |
          ./gradlew assemblepreview --scan --parallel --no-daemon
      
      - name: Clean up build artifacts
        run: |
          cp app/build/outputs/apk/preview/app-preview.apk fga-preview-${{ env.COMMIT_COUNT }}.apk
      
      - name: Upload APK
        if: ${{ github.event_name == 'workflow_dispatch' && (github.event.inputs.upload_apk == 'true' || github.event.inputs.upload_apk == true) }}
        uses: actions/upload-artifact@v5
        with:
          name: fga-preview-${{ env.COMMIT_COUNT }}.apk
          path: fga-preview-${{ env.COMMIT_COUNT }}.apk
