mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocs-awesome-nav
pymdown-extensions
mkdocs-minify-plugin

# Imaging dependencies for mkdocs-material social plugin
# https://squidfunk.github.io/mkdocs-material/plugins/requirements/image-processing/
cairosvg==2.9.0
pillow==12.2.0